@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    
    letter-spacing: 1px;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

body {
    background-image: url(../img/bkg.jpg);
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

:root {
  --header-height: 2rem;
}

section { 
    padding: calc(2rem + var(--header-height)) 0;
    height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/* SECTION HOME */

#home {
    background-image: url(../img/bkg_room_Crop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    height: 85vh;
    margin: 0 auto;
    border-radius: 0 0 8rem 8rem;

    box-shadow: 4px 28px 114px 15px rgba(199,183,155,1);
}

.nav_bar ul li {
    background-color: rgb(201, 197, 193);

    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 10px 3px rgb(15, 15, 15);

    padding: 1rem;
    width: 10rem;

    border-radius: 2rem;
}

.position_home {
    margin-top: 2rem;
    max-width: 96%;
}

.img_logo {
    width: 90%;
    border-radius: 10rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 17px 5px rgba(235, 211, 138, 0.466);
}

.arrow_down {
    justify-content: center;
    text-align: center;
    position: relative;
}

.arrow_down img {
    width: 15%;
    margin-bottom: 2rem;
    position: relative;

    animation-name: arrowdown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes arrowdown {
    0%{
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

/* SECTION ABOUT */

.line_section_start {
    border: 5px solid rgb(201, 197, 193);
    padding: 4px;
    height: 2rem;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    box-shadow: -1px -7px 5px 0px rgba(0,0,0,0.75);
}

.line_section_end {
    border: 5px solid rgb(193, 197, 201);
    padding: 4px;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    height: 2rem;
    margin-top: 8rem;
}

#about {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 4rem;
}

.text_about {
    text-align: left;
    width: 0 auto;
    display: flex;
}

.text_about p {
    max-width: 50%;
    margin-right: 1rem;
}

.img_about {
    width: 40%;
    border-radius: 0 2rem 0 5rem;
}

/* CAROUSEL */  
  
.item {
    width: 85%;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}

.container_carousel {
    position: relative;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.gallery {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    text-align: center;
    width: 4%;
    border: none;
    background-color: rgb(201, 197, 193);
    background: linear-gradient(to left, transparent 0%, black 200%);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.3;
}

.arrow-right {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 4%;
    border: none;
    background-color: rgb(201, 197, 193);
    background: linear-gradient(to right, transparent 0%, black 200%);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.4;
}

/* SECTION PROJECT */

#project {
    width: 100%;
    max-width: 90%;
    height: 155vh;
    margin: 0 auto;
}

#project h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img_projects {
    width: 100%;
}

.img_relative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img_relative p {
    position: absolute;
    text-align: center;
    opacity: 0;
    width: 90%;
    max-width: 90%;
    padding: 5.2rem 0;
    transition: padding 0.5s;
}

.img_relative p:hover {
    position: absolute;
    text-align: center;
    background-color: rgba(75, 70, 70, 0.678);
    opacity: 1;
    transition: 0.5s;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

/* SECTION CONTACT */

#contact {
    width: 100%;
    margin: 0 auto;
    height: 125vh;
}

.h1_contact {
    margin-bottom: 4rem;
}

.img_contact {
    width: 100%;
}

.text_contact {
    font-size: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

.text_contact p {
    margin: 2rem;
}

.btn_contact  {
    display: flex;
    justify-content: center;
}

.btn_contact button {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 2rem;
    border: none;
    margin-top: 4rem;
    padding: 1rem 2rem;
    background-color: rgb(105, 214, 123);
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
}

.img_logo_contact {
    width: 40%;
    margin-top: 1rem;
}

.logo_insta {
    width: 15%;
    margin-bottom: 1rem;
}

.map {
    width: 90%;
    height: 10rem;
}

/* FOOTER */

footer {
    display: flex;
    background-color:  rgb(201, 197, 193);
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
}

.footer_powered {
    display: flex;
    text-align: center;
}

/* LAZY SCROOL */

.hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.hidden_off {
    opacity: 1;
}